doctype html
html
  head
    title MGS
    include /header.pug
  body.home
    include /nav.pug
    
    .center
      img(src="images/mgs.svg", alt="MGS", width="100")
    h1 
      | How 
      span Michael Scott 
      | embodies my life as front-end developer
    h2 (Click on image to copy it)

    include /grid.pug
    include /footer.pug
