doctype html
html
  head
    title KVD
    include /header.pug
  body.home
    include /nav.pug

    h1 How Michael Scott embodies my life as front-end developer

    include /grid.pug
    include /footer.pug
