doctype html
html
  head
    title KVD
    include /header.pug
  body.home
    include /nav.pug

    h1 
      | How 
      span Michael Scott 
      | embodies my life as front-end developer
    h2 (Click on image to copy it)

    include /grid.pug
    include /footer.pug
