.grid {
  margin-left: 20px;
  margin-right: 20px;

  .grid-item {
    height: 300px;
    width: 16.66%;
    display: flex;
    float: left;
    align-items: center;
    position: relative;
    cursor: pointer;

    @media screen and (max-width: $xl) {
      width: 20%;
    }
    @media screen and (max-width: $l) {
      width: 25%;
    }
    @media screen and (max-width: $m) {
      width: 33.33%;
    }
    @media screen and (max-width: $s) {
      width: 50%;
    }
    @media screen and (max-width: $xs) {
      width: 100%;
    }

    .gif {
      position: absolute;
      top: 20px;
      bottom: 20px;
      left: 20px;
      right: 20px;
      opacity: 0.1;
      transition: all 0.3s;
      background-color: $white;
      overflow: hidden;
      border-radius: 6px;
      box-shadow: 0 10px 30px rgba($black, .3);
      background-image: url(images/check.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 0;

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
      }

      &.clicked {
        opacity: 1;
        background-color: $primary;
        transition: all .5s;
        background-size: 40px;

        img {
          opacity: 0;
        }

        &:after {
          content: "Copied!";
          color: $white;
          position: absolute;
          top: calc(50% + 30px);
          left: 50%;
          text-align: center;
          transform: translate(-50%, -50%);
        }
      }
    }

    .icon {
      flex: 1;
      padding: 25px;
      text-align: center;

      p {
        opacity: 1;
        color: $black;
      }
    }

    &:focus, &:hover {
      .gif {
        opacity: 1;
      }
    }
  }
}
