.grid {
  .grid-item {
    height: 300px;
    width: 16.66%;
    display: flex;
    float: left;
    align-items: center;
    background-color: rgba($black, 0.7);
    position: relative;
    cursor: pointer;

    @media screen and (max-width: $xl) {
      width: 20%;
    }
    @media screen and (max-width: $l) {
      width: 25%;
    }
    @media screen and (max-width: $m) {
      width: 33.33%;
    }
    @media screen and (max-width: $s) {
      width: 50%;
    }
    @media screen and (max-width: $xs) {
      width: 100%;
    }

    .gif {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.1;
      transition: all 0.3s;

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
      }
    }

    .icon {
      flex: 1;
      padding: 25px;
      text-align: center;

      p {
        opacity: 1;
        color: $white;
      }
    }

    &:focus, &:hover {
      .gif {
        opacity: 1;
      }
    }
  }
}
