// Colors general
$lightgray:     #EFEFEF;
$grey:          #CCCCCC;
$darkgray:      #333333;
$white:         #FFFFFF;
$text:          #666666;
$black:         #333333;

// Colors specific
$primary:       #62A07B;
$light:         #00af73;
$green:         #729149;
$yellow:        #FFE74C;
$red:           #E2563F;
$blue:          #2596eb;

// General
$corner:        8px;
$circle:        50%;

// Font(s)
$font-family:   'Rubik', sans-serif;
$font-size:     14px;
$font-weight:   normal;
$lin-height:    22px;

// Media queries
$xs: 		        "499px";
$s: 		        "767px";
$m: 		        "989px";
$l: 		        "1299px";
$xl: 		        "1699px";
$xxl: 		      "1700px";
