.grid
  .grid-item
    .icon
      p After having had a briefing at work and a collegeau asks if I understood everything
    .gif
      img(src="images/gifs/afterbriefingbycollegaeu.gif", alt="")
  .grid-item
    .icon
      p After receiving feedback from a client
    .gif
      img(src="images/gifs/afterclientmeeting.gif", alt="")
  .grid-item
    .icon
      p When hearing we also have to support IE8
    .gif
      img(src="images/gifs/alsosupportie8.gif", alt="")
  .grid-item
    .icon
      p When the client asks if you're sure
    .gif
      img(src="images/gifs/clientaskedareyousure.gif", alt="")
  .grid-item
    .icon
      p When listening to feedback from the client
    .gif
      img(src="images/gifs/clientgivingfeedback.gif", alt="")
  .grid-item
    .icon
      p When the client says it's ok after testing once
    .gif
      img(src="images/gifs/clientsaysitsokaftertesting.gif", alt="")
  .grid-item
    .icon
      p When it works on IE
    .gif
      img(src="images/gifs/itworksinie.gif", alt="")
  .grid-item
    .icon
      p When somebody proposes to use Wordpress
    .gif
      img(src="images/gifs/letsusewordpressinie.gif", alt="")
  .grid-item
    .icon
      p When there are no JS errors for the first time
    .gif
      img(src="images/gifs/nojsafterthefirsttime.gif", alt="")
  .grid-item
    .icon
      p When the project gets round 50 feedback
    .gif
      img(src="images/gifs/projectfeedbackround50.gif", alt="")
  .grid-item
    .icon
      p When taking over code from another front-ender
    .gif
      img(src="images/gifs/takingoverfromanotherfrontender.gif", alt="")
  .grid-item
    .icon
      p Using jQuery plugins without customzation
    .gif
      img(src="images/gifs/usingplugins.gif", alt="")
  .grid-item
    .icon
      p When the client says they can do it themselves with a builder
    .gif
      img(src="images/gifs/whenaclientsayshecandoitbetterwithabuilder.gif", alt="")
  .grid-item
    .icon
      p When asked if you dropped a feature
    .gif
      img(src="images/gifs/whenaskedifyoudecidetodropafeature.gif", alt="")
  .grid-item
    .icon
      p When asked who will fix the browser compatible bug
    .gif
      img(src="images/gifs/whenaskedwhowillfixthebrowserbug.gif", alt="")
  .grid-item
    .icon
      p When asking feedback from friends
    .gif
      img(src="images/gifs/whenaskingforfeedbackoffriends.gif", alt="")
  .grid-item
    .icon
      p When looking at what's left when the client is done
    .gif
      img(src="images/gifs/whenbackendisdone.gif", alt="")
  .grid-item
    .icon
      p When the client asks for your full attention
    .gif
      img(src="images/gifs/whenclientasksforyourfullattention.gif", alt="")
  .grid-item
    .icon
      p When client come with organised feedback
    .gif
      img(src="images/gifs/whenclientsaysheorganisedhisfeedback.gif", alt="")
  .grid-item
    .icon
      p When forced to work with others
    .gif
      img(src="images/gifs/whenforcedtoworkwithothers.gif", alt="")
  .grid-item
    .icon
      p When asked what you think of another front-enders code
    .gif
      img(src="images/gifs/whenprojectisdonefrontenderfeedback.gif", alt="")
  .grid-item
    .icon
      p When somebody feedbacks your workflow
    .gif
      img(src="images/gifs/whensomebodyproposesanimproveinyourbuild.gif", alt="")
  .grid-item
    .icon
      p When the client admits you did a good job
    .gif
      img(src="images/gifs/whentheclientsadmitstogoodwork.gif", alt="")
  .grid-item
    .icon
      p When the client asks when it will be done
    .gif
      img(src="images/gifs/whenwillitbedone.gif", alt="")
