.grid
  .grid-item
    .icon
      img(src="images/icons/core/download-cloud.svg", alt="")
      p After having had a briefing at work and a collegeau asks if I understood everything
    .gif
      img(src="images/gifs/afterbriefingbycollegaeu.gif", alt="")
  .grid-item
    .icon
      img(src="images/icons/core/download-cloud.svg", alt="")
      p After having had a briefing at work and a collegeau asks if I understood everything
    .gif
      img(src="images/gifs/afterbriefingbycollegaeu.gif", alt="")
  .grid-item
    .icon
      img(src="images/icons/core/download-cloud.svg", alt="")
      p After having had a briefing at work and a collegeau asks if I understood everything
    .gif
      img(src="images/gifs/afterbriefingbycollegaeu.gif", alt="")
  .grid-item
    .icon
      img(src="images/icons/core/download-cloud.svg", alt="")
      p After having had a briefing at work and a collegeau asks if I understood everything
    .gif
      img(src="images/gifs/afterbriefingbycollegaeu.gif", alt="")
