.grid
  .grid-item
    .icon
      p After having had a briefing at work and a collegeau asks if I understood everything
      img(src="images/icons/", alt="")
    .gif
      img(src="images/gifs/afterbriefingbycollegaeu.gif", alt="")
