header.header
  .container
    a(href="https://solo244.github.io/ms-fe/", class="logo") MGS
    ul.mainMenu
      li
        a(href="http://kenvandamme.be") About
      li
        a(href="https://github.com/solo244/ms-fe", target="_blank") Github
