header.header
  .container
    a(href="https://solo244.github.io/ms-fe/", class="logo") 
      strong MGS
    ul.mainMenu
      li
        a(href="https://kenvandamme.be", target="_blank") About
      li
        a(href="https://github.com/solo244/ms-fe", target="_blank") Github
