header.header
  .container
    a(href="/", class="logo") MGS
    ul.mainMenu
      li
        a(href="/folder") About
      li
        a(href="https://github.com/solo244/ms-fe", target="_blank") Github
